.container {
}

.sectionContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 270px 1fr;
  @media (max-width: 745px) {
    grid-template-columns: 1fr;
  }
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 744px;
  column-gap: 24px;

  @media (max-width: 745px) {
    grid-template-columns: 1fr;
  }
}

.currentPassword {
  grid-column: 1 / span 2;
  @media (max-width: 745px) {
    grid-column: 1 / 2;
  }
}

.radioOption {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  max-width: 360px;
  padding: 12px;
  cursor: pointer;
}

.radioButton {
  width: 20px !important;
  height: 20px;

  &:focus {
    box-shadow: unset !important;
  }
}

.radioLabel {
  padding-top: 2px;
}

.tickContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tickIcon {
  width: 24px;
  height: 24px;
  color: #43a047;
}

.selectedRadioOption {
  border-color: #a5d6a7;
}
